# Introduction to Python

## What is Python?

Python is an extremely common programming language that is becomming more and more popular with all types of programmers. It especially strong in data handling, and is the language of choice for AI and data science applications including machine learning. 

Python was invented in 1990 by Guido van Rossum and was specifically designed for programmers (not computers). Thus it's one of the best programming languages to learn as a first language. 

> So I set out to come up with a language that made programmers more productive, and if that meant that the programs would run a bit slower, well, that was an acceptable trade-off - Van Rossum

### The Zen of Python

Python has a philosophy built into the language

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Running the Python interpreter

If you are using the recommended Jupyter Lab, then you can eaisly access a terminal in the same window as this notebook

We can start an interactive Python **interpreter** session by typing the following 

```bash
#  the $ indicates the command is run in a shell
$ python
```

We can see where this Python executable is located on our machine using the bash program `which`:

In [3]:
#  use ! to run bash/shell code in the notebook directly
!which python

/usr/bin/python

And what version of Python we are using by running Python with a command line argument:

In [4]:
#  use ! to run bash/shell code in the notebook directly
!python3 --version

Python 3.8.2

# Python development environment

## iPython

IPython = Interactive Python 
- command shell for interactive computing
- IPython is what runs in Jupyter

## Python development environments (IDEs)

An IDE is where you develop your code. 
In Python, we run code in 2 different ways: 
- iPython: lets you run small snippets of code directly
- Python: script mode, runs entire programs

## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with.

## Data Types - Numbers
There are 2 different data types for holding numeric values in python - floats and integers.
Python can be used just like a calculator to work on these numbers.

In [2]:
float(16)

16.0

In [3]:
int(16.0)

16

We can use the typical operators we know `(+, *, /, etc.) ` to perform math operations.

NOTE: `=` in python is used to assign a variable to a name. It is NOT necessary for doinga math operation.

In [4]:
6 * 5

30

Python will complete the operations based on correct order of operations.

In [5]:
4 + 1 * 3

7

We can do exponentiation:

In [4]:
float(4)**20

1099511627776.0

In [5]:
float(4)**0.5

2.0

## Data Types: Strings

String data types hold text data. If a number appears in a string, it isn't treated as a number (can't be added, multiplied, etc.).
They can be written in multiple ways:

Can use `"`, `'` or `str()`

In [44]:
"this is fine"

'this is fine'

In [46]:
'so is this'

'so is this'

In [47]:
str(float(64))

'64.0'

Files are just big lists of characters

`\n` in the newine character

In [48]:
file = 'First line.\nSecond line.'
print(file)

First line.
Second line.

Multiple line strings:

In [7]:
print("""
First,
Second,
Third
""")

First,
Second,
Third

We can add strings together (called concatenation):

In [54]:
"ja" + " ja " + "ja"

'ja ja ja'

And multiply them:

In [55]:
"ja" * 3

'jajaja'

What happens when we try to multiply this string?:

In [58]:
"2"*3

'222'

## Data Types - Booleans

In [7]:
True

True

In [8]:
False

False

Many expressions in Python have a "truth value" and evaluate to one of the two boolean values.
- values which are evaluated to `True` or `False`

In [9]:
bool(100)

True

In [10]:
bool(0)

False

In [11]:
bool([0, 1])

True

In [12]:
bool(None)

False

In [13]:
True * True

1

In [14]:
True * False

0

In [15]:
False * False

0

## Conditionals
Booleans can be used in conditional commands. 
Conditional commands work just like the "IF..THEN.." command you know from Microsoft Excel.


Try changing the value of X in the example below:

In [8]:
x = 5 

if x <= 10:
    print('X is less than or equal to 10')
elif x > 10:
    print ('X is greater than 10')

X is less than or equal to 10

We can add almost infinite layers to our conditional by adding `elif` to the conditional block

In [1]:
import random

# random.randint chooses a random integer value between the 2 numbers listed
a = random.randint(1, 10)
b = random.randint(1, 10)

print("a is: ", a)
print("b is: ", b)

if a < 1:
    print(a)
    
elif a < b :
    print(a, 'is less than', b)
    
else:
    print(b)

a is:  4
b is:  9
4 is less than 9

## Comparisons
a double equals sign is used to compute comparisons in Python

In [21]:
5 == 6

False

In [22]:
5 == 3 + 2

True

In [9]:
x = 1
y = 2

In [ ]:
x == y  # ... x is equal to y

In [ ]:
x != y  # ... x is not equal to y

In [ ]:
x > y   # ... x is greater than y

In [ ]:
x < y   # ... x is less than y

In [ ]:
x >= y  # ... x is greater than or equal to y

In [ ]:
x <= y  # ... x is less than or equal to y

## Logical operators

`and`, `or`, `not`

In [24]:
True and False

False

In [25]:
True or False

True

In [26]:
not True

False

In [27]:
not False

True

## Datatypes: List
A list in python is a collection of datapoints. It is created with brackets `[]` or using `list()`. 
We can use selectors to select specific items within the list.

In [88]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# in Python, we start counting with 0.
# to start from the end of the list we start with -1

Selectors are called after the list using `[]`. Python starts counting at 0. To get the first element of the list then, we need to use 0 inside the selector. To get the second item, we would put a 1 inside the selector. 

We can also start from the back of the list, using -1. Then every positional element we want to get after the last one, we subtract one further. For example, if we want to get the 2nd-from-last element, we could select this element by putting -2 in the selector.

In [89]:
weekdays[0]

'Monday'

In [90]:
weekdays[1]

'Tuesday'

In [91]:
weekdays[-1]

'Sunday'

# Loops
In Python (and programming in general), we'll find many times when we want to do the same calculation over multiple values. **This is what loops are for!** They allow us to iterrate through lists, or rows in a table of data. 

### `for`

We can iterate through any object that has multiple smaller objects within it, like a list. 
A list contains multiple smaller elements within it.

In [39]:
p = [1, 5, 8, 12, 6]
for number in p:
    new_number = number + 5
    print(number, new_number)

1 6
5 10
8 13
12 17
6 11

What if we want to save these new values?

In [40]:
p = [1, 5, 8, 12, 6]
new_p = []
for number in p:
    new_number = number + 5
    new_p.append(new_number)
    
new_p

[6, 10, 13, 17, 11]

A useful tool in python exists for making increasing 'counting-style' lists. This is called `range`. With range, the programmer enters the value at which they want the list to start and stop, and the 'step' of the list. Normally this would be 1. Setting the step to 2 counts off by skipping the intermediary number.

In [35]:
range?

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
for item in range(0, 3, 1):
    print(item)

0
1
2

In [38]:
for item in range(1, 6, 2):
    print(item)

1
3
5

## Strings are iterable

In [59]:
for character in 'Py' 'thon':
    print(character)

P
y
t
h
o
n

We can use the builtin `len` to measure the number of characters in a string:

In [60]:
len('Python')

6

We can see some of the other functionality available on the `str` object using `dir`:

In [63]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

## String formatting

There are many formatting tricks in Python to control how strings appear. 

Using these, we can also update the string to contain a value that we want to update with a variable.
Most formatting commands involve the `{}` curly brackets.

In [64]:
'{} {} {}'.format('first', 'second', 'third')

'first second third'

Another way (works the same) is with 'f-strings':

In [12]:
first_number = 3 
second_number = 4
third_number = 10

f'{first_number}, {second_number}, {third_number}'

'3, 4, 10'

We can control the formatting of decimal places

In [66]:
'{:.2f} {:.1f} {:.0f}'.format(640, 640, 640)

'640.00 640.0 640'

## String stripping

A common operation is removing trailing whitespace:

In [67]:
'python is dynamically typed    '.strip(' ')

'python is dynamically typed'

Related is to remove characters from the string - this can be done by replacing with `''`

In [68]:
'python is dynamically typed    '.replace(' ', '')

'pythonisdynamicallytyped'

## `in`

A way to check if an object exists in an iterable using `in`.  As strings are iterable, this syntax works with strings:

In [71]:
'P' in 'Python'

True

In [72]:
'p' in 'Python'

False

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

In [18]:
car = {"brand": "Ford",
       "electric": False,
       "year": 1964,
       "colors": ["red", "white", "blue"]}

In [19]:
car['brand']

'Ford'

Dictionaries can be updated by assigning a new value to any given key.

You can also use this method to add a value to the dictionary.

In [20]:
car

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [21]:
car['year'] = 1960

In [22]:
car

{'brand': 'Ford',
 'electric': False,
 'year': 1960,
 'colors': ['red', 'white', 'blue']}

In [23]:
car['tires'] = 'Winter'

In [24]:
car

{'brand': 'Ford',
 'electric': False,
 'year': 1960,
 'colors': ['red', 'white', 'blue'],
 'tires': 'Winter'}

Let's make a list of dictionaries:

In [81]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

In [82]:
fitz = data[0]

fitz

{'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'}

We can iterate over the keys:

In [83]:
for k in fitz.keys():
    print(k)

author
text

And the same for the values:

In [84]:
for v in fitz.values():
    print(v)

F. SCOTT FITZGERALD
Action is character

We can then use the dictionaries to make a DataFrame

In [86]:
import pandas as pd

In [87]:
pd.DataFrame(data)

                author                                               text
0  F. SCOTT FITZGERALD                                Action is character
1  RALPH WALDO EMERSON  Every man is my superior in some way. In that,...
2  RALPH WALDO EMERSON  The purpose of life is not to be happy. It is ...
3  Ralph Waldo Emerson  Every man alone is sincere.  At the entrance o...
4        Majjha Nikaya  This is, because that is.  This is not, becaus...