## Exercises

1. Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`







2. Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

1.

In [6]:
print(5 * "*")
for i in range(5):
    print("  *")

*****
  *
  *
  *
  *
  *

2.

In [9]:
for i in range(10):
    print("{}".format(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999